/*MAIN*/

.main {
      padding-top: 370px;
      padding-bottom: 60px;
      width: 90%;
      max-width: 1200px;
      margin: auto;
      overflow: hidden;
      

}
/*IMGS-SLIDER*/

.slider ul{
      display: flex;
      padding:0;
      width: 300%;
      
      animation: change 20s infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
      
}

.slider li{
      list-style: none;
      width: 100%;
}

.slider img{
      width: 100%;
      border-radius: 8px;
}

@keyframes change {
      0% {margin-left: 0;}
      30% {margin-left: 0;}
      
      35% {margin-left: -100%}
      65% {margin-left: -100%}
      
      70% {margin-left: -200%}
      100% {margin-left: -200%}
          
}
/*SECTION*/

.sec-container {
      padding: 10px 0;
      width: 100%;
      max-width: 1000px;
      margin: auto;
      overflow: hidden;
}

.sec-container > h3 {
      text-align: center;
      font-size: 40px;
      color: #9ACD32;
      padding: 20px;
      background: #fff
}
.container-sec {
      display: flex;
      justify-content: space-evenly;  
      margin-top: 40px;
      font-size: 20px;
      background: 
}

.img-sec {
     width: 50%;  
      border-radius: 8px;
      max-width: 1000px;
      height: auto;
}

.content-txt {
      width: 50%;
      margin-top: px; 
      background: #9ACD32;
      color:  #fff;
      border-radius: 8px

}

.content-txt h3 {
      margin-top: 145px;
      text-align: center;
      font-size: 40px;
      color: #0000FF;
      
}

.content-txt p {
      padding: 0px opx 30px 15px;
      text-align: justify;
      margin: 30px;
}

.portafolio {
      background: #0000FF;
      font-size: 20px;
      margin-top: 80px;
      border-radius: 8px;   
}

.gallery-port {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      
}

.img-port {
      width: 22%;
      margin: 10px;
      
}

.img-port > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      
}

